.App ul {
  list-style: none;
  padding: 0px;
}

.App ul li {
  display: inline-block;
  position: relative;
}

.App ul li > a {
  text-decoration: none;
}

#results {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

#searchBar {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 80%;
}

#searchBar div > input {
  width: 75%;
  display: inline-block;
  height: 30px;

  box-sizing: border-box;
}

#searchBar .selectSearchBy {
  width: 15%;
  display: inline-block;
  height: 30px;
  padding: 0px;
  box-sizing: border-box;
  min-width: 140px;
}

.LabItem {
  width: 90%;
  display: block;
  position: relative;
  margin: 20px auto;
  background-color: rgb(234, 248, 191, 1);
  border-radius: 4px;
  padding: 10px 10px;
}

.css-yk16xz-control {
  margin-right: 30px;
}

.LabItem h3 {
  color: #001d4a;
  text-transform: uppercase;
}
